*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#080808;
    color:#fff;
    font-family:Arial,Helvetica,sans-serif;
    padding:20px;
}

.logo{
    text-align:center;
    margin-bottom:20px;
}

.logo img{
    width:220px;
}

h2{
    text-align:center;
    margin:15px 0;
    color:#00e5ff;
}

.contenedor-player{
    display:flex;
    flex-direction:row;
    gap:25px;
    align-items:flex-start;
}

#player{
    flex:3;
}

#player iframe{
    width:100%;
    aspect-ratio:16/9;
    border:none;
    border-radius:18px;
    box-shadow:0 0 25px rgba(0,229,255,.25);
}

.lado-derecho{
    flex:1;
    display:flex;
    flex-direction:column;
    gap:20px;
}

#qr-info,
#actual{
    background:#181818;
    border-radius:15px;
    padding:20px;
}

#qr-info h2{
    color:white;
    font-size:24px;
    margin-bottom:20px;
}

#qr-info img{
    width:250px;
    max-width:100%;
    display:block;
    margin:15px auto;
    border-radius:12px;
    background:white;
    padding:10px;
}

#qr-info p{
    margin:12px 0;
    font-size:18px;
    line-height:1.5;
}

#actual h2{
    color:#00e5ff;
    margin-bottom:10px;
}

#actual p{
    margin:8px 0;
    font-size:18px;
}

table{
    width:100%;
    margin-top:30px;
    border-collapse:collapse;
    background:#181818;
    border-radius:15px;
    overflow:hidden;
}

thead{
    background:#00e5ff;
    color:#000;
}

th,
td{
    padding:15px;
    text-align:center;
}

tbody tr:nth-child(even){
    background:#222;
}

tbody tr:hover{
    background:#2d2d2d;
}

button{
    background:#00e5ff;
    color:#000;
    border:none;
    padding:10px 18px;
    border-radius:25px;
    cursor:pointer;
    font-weight:bold;
    transition:.2s;
}

button:hover{
    transform:scale(1.05);
}

@media(max-width:1100px){

    .contenedor-player{
        flex-direction:column;
    }

    #player{
        width:100%;
    }

    .lado-derecho{
        width:100%;
    }

    #qr-info img{
        width:220px;
    }

}