body{
    margin:0;
    min-height:100vh;
    font-family:Arial,Helvetica,sans-serif;
    background:
    radial-gradient(circle at top,#102027,#090909 45%);
    color:white;
}


/* CONTENEDOR */

.container{
    width:95%;
    max-width:650px;
    margin:auto;
    padding:20px;
    text-align:center;
}


/* LOGO */

.logo{
    text-align:center;
}


.logo img{
    width:220px;
    margin:20px auto;
    display:block;
    filter:drop-shadow(0 0 18px #00e5ff);
    animation: brillo 3s infinite alternate;
}


@keyframes brillo{
    from{
        filter:drop-shadow(0 0 10px #00e5ff);
    }

    to{
        filter:drop-shadow(0 0 25px #00e5ff);
    }
}


/* TITULO */

h2{
    margin:10px 0 25px;
    color:#00e5ff;
    text-align:center;
    font-size:30px;
    font-weight:800;
    text-shadow:0 0 12px #00e5ff;
}


/* CAMPOS */

input{

    width:100%;
    box-sizing:border-box;
    padding:16px;
    margin:10px 0;

    border:1px solid #333;
    border-radius:15px;

    background:#151515;
    color:white;

    font-size:16px;
    outline:none;
}


input:focus{

    border-color:#00e5ff;
    box-shadow:0 0 12px #00e5ff;

}


/* BOTONES */

button{

    width:100%;
    padding:17px;

    border:none;
    border-radius:30px;

    background:linear-gradient(
        90deg,
        #00e5ff,
        #00ffaa
    );

    color:#000;

    font-size:18px;
    font-weight:bold;

    cursor:pointer;

    transition:.3s;

}


button:hover{

    transform:scale(1.03);
    box-shadow:0 0 20px #00e5ff;

}


/* RESULTADOS */

#resultados{

    margin-top:20px;

}


/* CANCIONES */

.resultado{

    display:flex;
    align-items:center;

    gap:15px;

    background:
    linear-gradient(
        145deg,
        #1c1c1c,
        #111
    );

    border:1px solid #252525;

    border-radius:15px;

    padding:12px;

    margin-bottom:12px;

    cursor:pointer;

    transition:.25s;

}


.resultado:hover{

    transform:translateY(-3px);

    border-color:#00e5ff;

    box-shadow:
    0 0 15px rgba(0,229,255,.25);

}



.resultado img{

    width:120px;

    height:68px;

    object-fit:cover;

    border-radius:10px;

}



.resultado div{

    flex:1;

    text-align:left;

}



.resultado b{

    display:block;

    margin-bottom:5px;

    color:white;

}


/* MENSAJE */

#mensaje{

    margin-top:20px;

    font-size:18px;

    color:#00ff99;

    text-shadow:0 0 10px #00ff99;

}



/* CELULAR */

@media(max-width:600px){

    .logo img{

        width:180px;

    }


    h2{

        font-size:25px;

    }


    .resultado img{

        width:100px;

        height:56px;

    }

}