body{
    margin:0;
    font-family:Arial,Helvetica,sans-serif;
    background:#090909;
    color:white;
}

.container{
    width:95%;
    max-width:650px;
    margin:auto;
    padding:20px;
    text-align:center;
}

.logo{
    text-align:center;
}

.logo img{
    width:220px;
    margin:20px auto;
    display:block;
}

h2{
    margin:0;
    color:#00e5ff;
    text-align:center;
    font-size:30px;
    font-weight:700;
}

input{
    width:100%;
    box-sizing:border-box;
    padding:15px;
    margin:10px 0;
    border:none;
    border-radius:12px;
    font-size:16px;
}

button{
    width:100%;
    padding:16px;
    border:none;
    border-radius:30px;
    background:#00e5ff;
    color:#000;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
    opacity:.9;
}

#resultados{
    margin-top:15px;
}

.resultado{
    display:flex;
    align-items:center;
    gap:15px;
    background:#1a1a1a;
    border-radius:12px;
    padding:10px;
    margin-bottom:10px;
    cursor:pointer;
    transition:.2s;
}

.resultado:hover{
    background:#2b2b2b;
}

.resultado img{
    width:120px;
    height:68px;
    object-fit:cover;
    border-radius:10px;
}

.resultado div{
    flex:1;
    text-align:left;
}

.resultado b{
    display:block;
    margin-bottom:5px;
    color:white;
}

#mensaje{
    margin-top:20px;
    font-size:18px;
    color:#00ff99;
}

@media(max-width:600px){

.logo img{
    width:180px;
}

.resultado img{
    width:110px;
    height:62px;
}

}